/* Styles go here */
* {
  box-sizing: border-box;
}
body {
  background-color: lightgrey;
  font-family: Verdana, sans-serif;
}
h1
h2 {
  margin: 0 0 -.7em 0;
}
  
.column-layout {
  background-color: white;
  max-width: 800px;
  margin: 40px auto 0 auto;
  padding: 20px 40px;
  line-height: 1.65;
  display: flex;
}

.home {
  flex: 3;
  order: 2;
}
.menu {
  flex: 3;
  order: 1;
}

.pas {
  flex: 3;
  order: 3;
}

.contact-us {
  flex: 3;
  order: 2;
}
